
.container {

    display: flex;
    flex-direction: column;
    align-items: center;


}

.addTaskButton {
    margin-top: 20px;
    cursor: pointer;
}

.toDoList {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;


}

.deleteButton {
   cursor: pointer;
    margin-left: 10px
}